.flexColumn {
    display: flex;
    flex-direction: column;
}


.flexRow {
    display: flex;
    flex-direction: row;
}

.sketchContainer {
    height: 30vw;
    width: 30vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5vw;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.sketchContainer * {
    flex: auto;
}

.gridElement {
    aspect-ratio: 1 / 1;
    min-width: 0;
}

.gridElementHover {
    background-color: black;
}