.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.gridElement {
    background-color: white;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
}

.gridElementHover {
    background-color: black;
}